@import '../base/utilities.scss';
@import '../base/colors.scss';

.deck-page {
    display: grid;
    grid-gap: 16px;

    @media all and (min-width: 768px){
        grid-template-columns: 1fr 300px;
        place-content: center;    
    }

    
    &__card-lists {
        @media all and (min-width: 768px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__card-details {
        border-top: 1px solid $color--tertiary;

        @media all and (min-width: 768px){
            border-top: none;
            border-left: 1px solid $color--tertiary;
        }
    }
}